{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="pragma" content="no-cache" />
        <meta http-equiv="cache-control" content="max-age=604800" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>TheOctoFood</title>

        <link href="{% static 'images/favicon.png' %}" rel="shortcut icon" type="image/png">

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>

        <!-- Bootstrap Javascript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- Custom Javascript -->
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Custom Style -->
        <link href="{% static 'css/ui.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'css/responsive.css' %}" rel="stylesheet" media="only screen and (max-width: 1200px)"/>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css"/>

        <!-- Font Awesome -->
        <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">

        <!-- Paypal -->
        <script src="https://www.paypal.com/sdk/js?client-id=AcpXZT989O3cYe1Q1rXhtKdako0VDyP_MnyaDVMCrcHMMUF4gSfM8y8bD_rC5uFAUPWWbJK9ci9izrGs&currency=USD"></script>
    
    </head>

    <body>
        {% include 'includes/navbar.html' %}
        {% block content %}
        {% endblock %}
        {% include 'includes/footer.html' %}
    </body>
</html>