{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<section class="section-content padding-y bg">
    <div class="container">
        <form action="{% url 'place_order' %}" method="POST">
        <div class="row">
            <aside class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Địa chỉ</h4>
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col form-group">
                                    <input type="text" name="first_name" class="form-control" placeholder="Tên" value="{{ address.user.first_name}}" required>
                                </div>
                                <div class="col form-group">
                                    <input type="text" name="last_name" class="form-control" placeholder="Họ" value="{{ address.user.last_name }}" required>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <input type="text" name="phone_number" class="form-control" placeholder="Số điện thoại" value="{{ address.user.phone_number }}" required>
                            </div>

                            <div class="form-group">
                                <input type="text" name="street_address" class="form-control" placeholder="Địa chỉ" value="{{ address.street_address }}" required>
                            </div>

                            <div class="form-group">
                                <input type="text" name="ward" class="form-control" placeholder="Phường xã" value="{{ address.ward }}" required>
                            </div>

                            <div class="form-row">
                                <div class="col form-group">
                                    <input type="text" name="district" class="form-control" placeholder="Quận huyện" value="{{ address.district }}" required>
                                </div>
                                <div class="col form-group">
                                    <input type="text" name="city" class="form-control" placeholder="Tỉnh / Thành phố" value="{{ address.city }}" required>
                                </div>
                                <div class="col form-group">
                                    <input type="text" name="country" class="form-control" placeholder="Quốc gia" value="{{ address.country }}" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <textarea name="order_note" rows="2" class="form-control" placeholder="Ghi chú..."></textarea>
                            </div>
                        
                    </div>
                </div>
            </aside>

            <aside class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col">Sản phẩm</th>
                                    <th scope="col" width="120" class="text-center">Số lượng</th>
                                    <th scope="col" width="120" class="text-center">Đơn giá</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cart_item in cart_items %}
                                <tr>
                                    <td class="align-middle">
                                        <figure class="itemside align-items-center">
                                            <div class="aside"><img src="{{ cart_item.item.image.url }}"
                                                    class="img-sm rounded"></div>
                                            <figcaption class="info">
                                                <a href="{{ cart_item.item.get_url }}" class="title text-dark">
                                                    {{ cart_item.item.name }}</a>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td class="align-middle text-center">
                                        <label for="">{{cart_item.quantity}}</label>
                                    </td>
                                    <td class="align-middle text-center">
                                        <div class="price-wrap">
                                            <var class="price">{{ cart_item.sub_total|intcomma }} đ</var>
                                            {% if cart_item.quantity != 1 %}
                                            <small class="text-muted">{{ cart_item.item.price|intcomma }} đ / suất </small>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <button type="submit" name="submit" class="btn btn-primary btn-block">Đặt hàng</button>
                        <a href="{% url 'home' %}" class="btn btn-light btn-block">Tiếp tục mua sắm</a>
                    </div>
                </div>
            </aside>
        </div>
    </form>
    </div>
</section>
{% endblock %}