{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<section class="section-content padding-y bg">
    <div class="container">
        <div class="card">
            <div class="row no-gutters">
                <aside class="col-md-6">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            <a href="#"><img src="{{ item.image.url }}" /></a>
                        </div>
                    </article>
                </aside>
                <main class="col-md-6 border-left">
                    <form action="{% url 'add_cart' item.id %}" method="POST">
                        {% csrf_token %}
                        <article class="content-body">
                            <h2 class="title">{{ item.name }}</h2>
                            <div class="mb-3">
                                <var class="price h4">{{ item.price|intcomma }} đ</var>
                            </div>
                            <p>{{ item.description }}</p>
                            {% if item.stock > 0 %} {% if in_cart %}
                            <button type="submit" class="btn btn-success">
                                <i class="fas fa-check"></i>
                                <span class="text">Thêm vào giỏ</span>
                            </button>
                            <a href="{% url 'cart' %}" class="btn btn-outline-primary">
                                <span class="text">Thêm vào giỏ</span>
                                <i class="fas fa-eye"></i>
                            </a>
                            {% else %}
                            <button type="submit" class="btn btn-primary">
                                <span class="text">Thêm vào giỏ</span>
                                <i class="fas fa-shopping-cart"></i>
                            </button>
                            {% endif %} {% else %}
                            <h5 class="text-danger">Hết hàng</h5>
                            {% endif %}
                        </article>
                    </form>
                </main>
            </div>
        </div>
    </div>
</section>
{% endblock %}